<!-- index.html (project project) -->
    {% extends "base.html" %}
    {% block title %} 物種資料庫{% endblock %}
    {% block bottum %} <a href="homepage" class="button" style="font-family:微軟正黑體;text-transform:initial;font-size:120%">Home</a> {% endblock %}
    {% block header %} The header {% endblock %}
    {% block content %}

{% if user.is_authenticated %}
<div id="wrapper" class="container">

	<h1>This is the content region</h1>

</div>

{% else %}
    {% include "login_direction.html" %}
{% endif %}

{% endblock %}

