<!-- index.html (project project) -->
    {% extends "base.html" %}
    {% block title %} 物種資料庫{% endblock %}
    {% block bottum %} <a href="homepage" class="button" style="font-family:微軟正黑體;text-transform:initial;font-size:120%">Back</a> {% endblock %}
    {% block header %} LIST ALL LIBRARIES{% endblock %}
    {% block content %}

{% if user.is_authenticated %}
<div style="width:1800px; margin:0 auto;">
    <table>
    <tr bgcolor='#fdfbfc'><td> <h4>Summary :</h4>總共 : {{total_count}}筆 &ensp; bacteria : {{bacteria_count}}筆 &ensp; fungi: {{fungi_count}}筆 &ensp;virus : {{virus_count}}筆 &ensp;archaea : {{archaea_count}}筆 &ensp;parasite : {{parasite_count}}筆 &ensp;Mycoplasma/Chlamydia/Rickettsia : {{Mycoplasma_count}}筆 </td></tr>
    </table>
        <!-- 這裡放我們要呈現的內容 -->
    {% for g in info %}
            {% if forloop.first %}
                <table>
                    <tr bgcolor='#fdfbfc'>
                        <td style="font-family:微軟正黑體;text-transform:initial;font-size:160%">DB id</td>
                        <td style="font-family:微軟正黑體;text-transform:initial;font-size:150%">Organism Name</td>
                        <td style="font-family:微軟正黑體;text-transform:initial;font-size:160%">Genus</td>
                        <td style="font-family:微軟正黑體;text-transform:initial;font-size:160%">Type</td>
                        <td style="font-family:微軟正黑體;text-transform:initial;font-size:150%">Source</td>
                        <td style="font-family:微軟正黑體;text-transform:initial;font-size:160%">Key words</td>
                        <td style="font-family:微軟正黑體;text-transform:initial;font-size:100%">更新日期</td>
                    </tr>
            {% endif %}
                    <tr bgcolor='{% cycle "#dadee8" "#fdfbfc" %}'>
                        <td style="font-family:微軟正黑體;text-transform:initial;font-size:100%">{{ g.db_id }}</td>
                        <td style="font-family:微軟正黑體;text-transform:initial;font-size:100%"><i>{{ g.organism_name }}</i></td>
                        <td style="font-family:微軟正黑體;text-transform:initial;font-size:100%"><i>{{ g.genus }}</i></td>
                        <td style="font-family:微軟正黑體;text-transform:initial;font-size:90%">{{ g.top_type }}</td>
                        <td style="font-family:微軟正黑體;text-transform:initial;font-size:90%">{{ g.source }}</td>
                        <td style="font-family:微軟正黑體;text-transform:initial;font-size:90%">{{ g.key_word }}</td>
                        <td style="font-family:微軟正黑體;text-transform:initial;font-size:80%">{{ g.date }}</td>
                    </tr>
            {% if forloop.last %}
                </table>
            {% endif %}
            
            {% empty %}
    {% endfor %}
    
    </div>
{% else %}
    {% include "login_direction.html" %}
{% endif %}

{% endblock %}

