<!-- index.html (project project) -->
    {% extends "base.html" %}
    {% block title %} 物種資料庫 login{% endblock %}
    {% block header %} Login{% endblock %}
    {% block content %}
    {% load static %}


<div id="wrapper" class="container" align='center'>
    <form method="post" atcion="hompage"></br></br>
        <div id="logo" class="container"><h1><span class="icon icon-lock icon-size" ></span>The login interface:</br></h1></div>
        <input name="username" type="text" placeholder="username"></br>
        <input name="paasword" type="text" placeholder="password"></br>
        <button id="btn" type="submit">login</button>
        {% csrf_token %}
    </form>
</div>
{% endblock %}

