<!-- index.html (project project) -->
    {% extends "base.html" %}
    {% block title %} 物種資料庫{% endblock %}
    {% block bottum %} <a href="homepage" class="button" style="font-family:微軟正黑體;text-transform:initial;font-size:120%">Home</a> {% endblock %}
    {% block header %} Management {% endblock %}
    {% block content %}

{% if user.is_authenticated %}

<div id="wrapper" class="container">
    <div id="three-column" class="container">
		<div id="tbox1"> <span class="icon icon-list"></span>
			<div class="title">
				<h2 style="font-family:微軟正黑體;text-transform:initial;font-size:200%">資料庫登陸系統</h2>
			</div>
		<p style="font-family:微軟正黑體;text-transform:initial;font-size:100%">登陸admin資料庫管理介面<br>註:可提供訂單大量表格下載以及更動</p>
		<a href="admin" class="button" style="font-family:微軟正黑體;text-transform:initial;font-size:150%">Django admin</a> 
        </div>
    </div>
</div>
{% else %}
    {% include "login_direction.html" %}
{% endif %}
{% endblock %}

