    {% extends "base.html" %}
    {% block title %} New input{% endblock %}
    {% block bottum %} <a href="../homepage" class="button" style="font-family:微軟正黑體;text-transform:initial;font-size:120%">Home</a> {% endblock %}
    {% block header %} 新增資料{% endblock %}
    {% block content %}

{% if user.is_authenticated %}

<!-- Table region  -->
<div id="wrapper" class="container">
  <form method="POST" action="input_check">{% csrf_token %}
  <p><span style="font-family:微軟正黑體;text-transform:initial;font-size:120%" class="error">&ensp;&ensp;* 必填欄位</span><p>
    {% if message == "error_blank" %}
      <script>
          alert('請填寫 "*" 欄位');
      </script>
    {% endif %}
    {% if message == "Upload_successfully" %}
        <table>
            <tr><td><p>{{db_id}} {{organism_name}} &ensp;&ensp; Upload successfully !!</p> </td></tr>
        </table>
    {% endif %}
  <h2 style="font-family:微軟正黑體;text-transform:initial;font-size:150%">基礎資訊</h2>
  <svg height="7" width="1200"><line x1="0" y1="0" x2="1300" y2="0" style="stroke:rgb(0,150,255);stroke-width:2" ></svg>
 <table>
    <tr>
      <td>&ensp;物種編號 : </br><p>&ensp;id</p>
      <td><input class=input_type1 type="text" name="db_id" >(本欄未填寫則自動生成) </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&ensp;物種名 : </br>&ensp;Organism name</td>
      <td><input class=input_type1 type="text" name="organism_name" id="organism_name" ><span class="error">* </span></td>
      <td>&ensp;物種中文名 : </br>&ensp;Chinese name</td>
      <td><input class=input_type1 type="text" name="chinese_name" id="chinese_name" ></td>
    </tr>
  </table>
    </br></br>
  <h2 style="font-family:微軟正黑體;text-transform:initial;font-size:150%">分類資訊</h2>
  <svg height="7" width="1200"><line x1="0" y1="0" x2="1300" y2="0" style="stroke:rgb(0,150,255);stroke-width:2" /></svg>
    <table>
    <tr>
        <td>&ensp;屬名:</br>&ensp;Genus</td>
        <td><input class=input_type1 type="text" name="genus" id="genus" ><span class="error">* </span>
          <p>ex: <i>Klebsiella, Acinetobacter</i></p>
        </td>
        <td>&ensp;大分類:</br>&ensp;Top type:</td>
        <td>
          <select class=select_type1 name="top_type">
            <option style="font-family:微軟正黑體;text-transform:initial;font-size:120%" value=""></option>
            <option style="font-family:微軟正黑體;text-transform:initial;font-size:120%" value="bacteria">bacteria</option>
            <option style="font-family:微軟正黑體;text-transform:initial;font-size:120%" value="archaea">archaea</option>
            <option style="font-family:微軟正黑體;text-transform:initial;font-size:120%" value="fungi">fungi</option>
            <option style="font-family:微軟正黑體;text-transform:initial;font-size:120%" value="virus">virus</option>
            <option style="font-family:微軟正黑體;text-transform:initial;font-size:120%" value="parasite">parasite</option>
            <option style="font-family:微軟正黑體;text-transform:initial;font-size:120%" value="Mycoplasma/Chlamydia/Rickettsia">Mycoplasma/Chlamydia/Rickettsia</option>
          </select>  <span class="error">* </span>
          <p>bacteria, archaea, fungi, virus, parasite, Mycoplasma/Chlamydia/Rickettsia</p>
        </td>
    </tr>
    <tr>
        <td>&ensp;種名:</br>&ensp;Species</td>
        <td><input class=input_type1 type="text" name="species_name" id="species_name" ><span class="error">* </span>
          <p>ex: <i>Klebsiella pneumoniae, </br>Acinetobacter baumannii</i></p>
        </td>
        <td>&ensp;關鍵字:</br>&ensp;key word</td>
        <td>
          <br>
          <h3>Aerobic/anaerobic:</h3>
          <input type="radio" id="Strictly aerobic" name="Aerobic_ablity" value="Strictly_aerobic">
          <label for="Strictly aerobic">Strictly aerobic</label>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
          <input type="radio" id="Aerobic" name="Aerobic_ablity" value="Aerobic">
          <label for="Aerobic">Aerobic</label>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
          <input type="radio" id="Obligate_aerobe" name="Aerobic_ablity" value="Obligate_aerobe">
          <label for="Obligate_aerobe">Obligate_aerobe</label></br>
          <input type="radio" id="Facultative anaerobic" name="Aerobic_ablity" value="Facultative_anaerobic">
          <label for="Facultative anaerobic">Facultative anaerobic</label>&ensp;&ensp;&ensp;&ensp;
          <input type="radio" id="Microaerophiles" name="Aerobic_ablity" value="Microaerophiles">
          <label for="Microaerophiles">Microaerophiles</label>&ensp;&ensp;&ensp;&ensp;
          <input type="radio" id="Aerotolerant" name="Aerobic_ablity" value="Aerotolerant">
          <label for="Aerotolerant">Aerotolerant</label>&ensp;&ensp;
          <input type="radio" id="Anaerobic" name="Aerobic_ablity" value="Anaerobic">
          <label for="Anaerobic">Anaerobic</label><br>
          <input type="radio" id="unknown" name="Aerobic_ablity" value="unknown_aerobic_ablity">
          <label for="unknown">Unknown (unknown aerobic ablity)</label>
          <br><br>      
          
          <h3>Pathogenic:</h3>
          <input type="checkbox" id="pathogen" name="pathogen" value="pathogen">
          <label for="pathogen">pathogen</label>&ensp;&ensp;
          <input type="checkbox" id="opportunistic_pathogen" name="opportunistic_pathogen" value="opportunistic_pathogen">
          <label for="opportunistic_pathogen">opportunistic pathogen</label>&ensp;
          <input type="checkbox" id="plant_pathogen" name="plant_pathogen" value="plant_pathogen">
          <label for="plant pathogen">plant pathogen</label>&ensp;
          <input type="checkbox" id="unkown_pathogenic" name="unkown_pathogenic" value="unkown_pathogenic">
          <label for="unkown_pathogenic">unkown pathogenic</label>&ensp;
          <br><br>

          <h3>Flora/environmental:</h3>
          <input type="checkbox" id="normal_flora" name="normal_flora" value="normal_flora">
          <label for="normal_flora">normal flora</label>
          <input type="checkbox" id="environmental" name="environmental" value="environmental">
          <label for="environmental">environmental</label>
          <br><br>
          
          <h3>Position:</h3>
          <input type="checkbox" id="oral" name="oral" value="oral">
          <label for="oral">oral</label>&ensp;&ensp;&ensp;
          <input type="checkbox" id="gut" name="gut" value="gut">
          <label for="gut">gut</label>&ensp;&ensp;&ensp;
          <input type="checkbox" id="skin" name="skin" value="skin">
          <label for="skin">skin</label>&ensp;&ensp;&ensp;&ensp;
          <input type="checkbox" id="vaginal" name="vaginal" value="vaginal">
          <label for="vaginal">vaginal</label>&ensp;&ensp;&ensp;
          <input type="checkbox" id="respiratory" name="respiratory" value="respiratory">
          <label for="respiratory">respiratory</label>&ensp;
          <br><br>

          <h3>Extrime type:</h3>
          <input type="checkbox" id="extrime" name="extrime" value="extrime">
          <label for="extrime">extrime</label>&ensp;&ensp;&ensp;&ensp;&ensp;
          <input type="checkbox" id="acidophilic" name="acidophilic" value="acidophilic">
          <label for="acidophilic">acidophilic</label>&ensp;&ensp;&ensp;&ensp;
          <input type="checkbox" id="thermophilic" name="thermophilic" value="thermophilic">
          <label for="thermophilic">thermophilic</label>&ensp;&ensp;&ensp;
          <input type="checkbox" id="halophilic" name="halophilic" value="halophilic">
          <label for="halophilic">halophilic</label>&ensp;&ensp;&ensp;
          </br></br> 
          
          <input type="checkbox" id="unkown" name="unkown" value="unkown">
          <label for="unkown">Unkown feature</label><br>
          </br><p>others:
          <textarea class=textarea_typ1 type="text" name="keyword_others" id="keyword_others" rows="3" cols="80"></textarea>
          </p>
        </td>
    </tr>
    <tr>
    <td>&ensp;格蘭氏染色:</br>&ensp;Gram stain:</td>
        <td>
          <select class=select_type1 name="gram_stain">
            <option style="font-family:微軟正黑體;text-transform:initial;font-size:120%" value=""></option>
            <option style="font-family:微軟正黑體;text-transform:initial;font-size:120%" value="positive">positive</option>
            <option style="font-family:微軟正黑體;text-transform:initial;font-size:120%" value="negative">negative</option>
          </select>
        </td>
    <td>&ensp;樣品來源</br>&ensp;Sample type:</td>
        <td> 
          <input type="checkbox" id="blood" name="blood" value="blood">
          <label for="blood">血液</label>&ensp;&ensp;&ensp;
          <input type="checkbox" id="plasma" name="plasma" value="plasma">
          <label for="plasma">血漿</label>&ensp;&ensp;&ensp;
          <input type="checkbox" id="CSF" name="CSF" value="CSF">
          <label for="CSF">腦脊髓液</label>&ensp;&ensp;
          <input type="checkbox" id="BLAF" name="BLAF" value="BLAF">
          <label for="BLAF">肺泡灌洗液</label>&ensp;&ensp;
          <input type="checkbox" id="sputum" name="sputum" value="sputum">
          <label for="sputum">痰液</label>&ensp;<br>
          <input type="checkbox" id="pleural_fluid" name="pleural_fluid" value="pleural_fluid">
          <label for="pleural_fluid">胸水</label>&ensp;&ensp;&ensp;
          <input type="checkbox" id="ascites" name="ascites" value="ascites">
          <label for="ascites">腹水</label>&ensp;&ensp;&ensp;
          <input type="checkbox" id="positive_conpare" name="positive_conpare" value="positive_conpare">
          <label for="positive_conpare">陽性對照</label>&ensp;&ensp;
          <input type="checkbox" id="negative_conpare" name="negative_conpare" value="negative_conpare">
          <label for="negative_conpare">陰性對照</label>&ensp;&ensp;&ensp;&ensp;
          <input type="checkbox" id="tissue" name="tissue" value="tissue">
          <label for="tissue">組織</label>&ensp;&ensp;&ensp;
          <br>
        </td>
    </tr>
    <tr>
        <td>&ensp;Halos id:</td>
        <td><input class=input_type1 type="text" name="Halos_id" ><p></p></td>
        <td>&ensp;taxid:</td>
        <td><input class=input_type1 type="text" name="taxid"></td>
    </tr>
    <tr>
      <td>&ensp;資訊來源:</br>&ensp;source</td>
      <td><input type="hidden" name="source" value="{{ user.username }}"><p>{{ user.username }}</p></td>
      <td>&ensp;species_taxid:</td>
      <td><input class=input_type1 type="text" name="species_taxid"></td>
    <tr>
  </table>
  <table>
    <tr>
      <td>&ensp;物種描述:<span class="error">* </span></br>&ensp;Description</td>
      <td><textarea class=textarea_typ1 type="text" name="Description" id="Description" rows="5" cols="130"></textarea></td>
    </tr>
  </table>
  </br>
      
  <h2 style="font-family:微軟正黑體;text-transform:initial;font-size:150%">文獻(reference):</h2>
  <svg height="7" width="1200"><line x1="0" y1="0" x2="1300" y2="0" style="stroke:rgb(0,150,255);stroke-width:2" /></svg>
  <table>
    <tr>
      <td>文獻1<span class="error">* </span></br>reference1:</td>
      <td><textarea class=textarea_typ1 type="text" name="reference1" id="reference1" rows="2" cols="130" id="order_form"></textarea></td>
    </tr>
    <tr>
      <td>文獻2</br>reference2:</td>
      <td><textarea class=textarea_typ1 type="text" name="reference2" rows="2" cols="130"></textarea></td>
    </tr>
    <tr>
      <td>文獻3</br>reference3:</td>
      <td><textarea class=textarea_typ1 type="text" name="reference3" rows="2" cols="130"></textarea></td>
    </tr>
    <tr>
      <td>文獻4</br>reference4:</td>
      <td><textarea class=textarea_typ1 type="text" name="reference4" rows="2" cols="130"></textarea></td>
    </tr>
    <tr>
      <td>文獻5</br>reference5:</td>
      <td><textarea class=textarea_typ1 type="text" name="reference5" rows="2" cols="130"></textarea></td>
    </tr>
  </table>
  </br>
  </br>

  <h2 style="font-family:微軟正黑體;text-transform:initial;font-size:150%">來源資訊:</h2>
  <svg height="7" width="1200"><line x1="0" y1="0" x2="1300" y2="0" style="stroke:rgb(0,150,255);stroke-width:2" /></svg>
  <table>
    <tr>
      <td>資料來源</br>data source</td>
      <td><input class=input_type1 type="text" name="data_source" id="data_source" rows="2" cols="130" ></textarea>
        <p>ex: NCBI、PATRIC、EupathDB、FDA-ARGOS</p>
      </td>
    </tr>
    <tr>
      <td>資料基因狀況</br>data status</td>
      <td><input class=input_type1 type="text" name="data_status" id="data_status" rows="2" cols="130" ></textarea>
        <p>ex: complete genome, chromosome, scaffold, contig</p>
      </td>
    </tr>
  </table>

</div>
<div id="wrapper" class="container" align="center" >
<p>
<input class="button" style="font-family:微軟正黑體;text-transform:initial;font-size:300%" type="submit" value="送出">
<input class="button" style="font-family:微軟正黑體;text-transform:initial;font-size:300%" type="reset" value="清除">
</form>
</p></br>
</div>
{% else %}
    {% include "login_direction.html" %}
{% endif %}
{% endblock %}
</html>


