    {% extends "base.html" %}
    {% block title %} Input check{% endblock %}
    {% block bottum %} <a href="../homepage" class="button" style="font-family:微軟正黑體;text-transform:initial;font-size:120%">Home</a> {% endblock %}
    {% block header %} 資料確認{% endblock %}
    {% block content %}
    {% load static %}
{% if user.is_authenticated %}

<!-- Table region  -->
<div id="wrapper" class="container">
  <form method="POST" action="../input_upload">{% csrf_token %}
  <p><span style="font-family:微軟正黑體;text-transform:initial;font-size:150%" class="error">&ensp;&ensp;* 必填欄位</span><p>
  
  <h2 style="font-family:微軟正黑體;text-transform:initial;font-size:150%">基礎資訊</h2>
  <svg height="7" width="1200"><line x1="0" y1="0" x2="1300" y2="0" style="stroke:rgb(0,150,255);stroke-width:2" /></svg>
 <table>
    <tr>
      <td>&ensp;物種編號 : </br><p>&ensp;id</p>
      {% if db_id == "" %}
          <td><input type="hidden" name="db_id" value="{{s}}{{ now | date:'Ymdhis' }}">{{s}}{{ now | date:'Ymdhis' }} </td>
      {% else %}
          <td><input type="hidden" name="db_id" value="{{ db_id }}" >{{ db_id }} </td>
      {% endif %}
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&ensp;物種名 : </br>&ensp;Organism name</td>
      <td><input type="hidden" name="organism_name" id="organism_name" value="{{ organism_name }}" >{{ organism_name }}<span class="error">* </span></td>
      <td>&ensp;物種中文名 : </br>&ensp;Chinese name</td>
      <td><input type="hidden" name="chinese_name" id="chinese_name" value="{{chinese_name}}" >{{chinese_name}}</td>
    </tr>
  </table>

    </br></br>

  <h2 style="font-family:微軟正黑體;text-transform:initial;font-size:150%">分類資訊</h2>
  <svg height="7" width="1200"><line x1="0" y1="0" x2="1300" y2="0" style="stroke:rgb(0,150,255);stroke-width:2" /></svg>

  <table>
    <tr>
        <td>&ensp;屬名:</br>&ensp;Genus</td>
        <td><input type="hidden" name="genus" id="genus" value="{{genus}}"><i>{{genus}}</i><span class="error">* </span></td>
        <td>&ensp;大分類:</br>&ensp;Top type:</td>
        <td>
          <input type="hidden" name="top_type" id="top_type" value="{{top_type}}" >{{top_type}}<span class="error">* </span>
        </td>
    </tr>
    <tr>
        <td>&ensp;種名:</br>&ensp;Species</td>
        <td><input type="hidden" name="species_name" id="species_name" value="{{species_name}}" ><i>{{species_name}}</i><span class="error">* </span></td>
        <td>&ensp;關鍵字:</br>&ensp;key word</td>
        <td>
          <input type="hidden" name="keyword" value="{% for i in keyword %}{% if i == "" %}{% else %}{{i}},{% endif %}{% endfor %}">
          {% for i in keyword %}
            {% if i == "" %}
            {% else %}
              {{i}}&ensp;
            {% endif %}
          {% endfor %}
        </td>
    </tr>
    <tr>
    <td>&ensp;格蘭氏染色:</br>&ensp;Gram stain:</td>
        <td>
          <input type="hidden" name="gram_stain" value={{gram_stain}}>{{gram_stain}}
          <span class="error">* </span>
        </td>
    <td>&ensp;樣品來源</br>&ensp;Sample type:</td>
        <td>
          <input type="hidden" name="sample_type" value="{% for i in sample_type %} {% if i == "" %}{% else %}{{i}},{% endif %}{% endfor %}">
          {% for i in sample_type %}
            {% if i == "" %}
            {% else %}
              {{i}}&ensp;
            {% endif %}
          {% endfor %}
        </td>
    </tr>
    <tr>
        <td>&ensp;Halos id:</td>
        <td><input type="hidden" name="Halos_id" ><p></p></td>
        <td>&ensp;taxid:</td>
        <td><input type="hidden" name="taxid"></td>
    </tr>
    <tr>
      <td>&ensp;資訊來源:</br>&ensp;source</td>
      <td><input type="hidden" name="source" value="{{ user.username }}"><p>{{ user.username }}</p></td>
      <td>&ensp;species_taxid:</td>
      <td><input type="hidden" name="species_taxid"></td>
    <tr>
  </table>
  <table>
    <tr>
      <td>&ensp;物種描述:</br>&ensp;Description</td>
      <td><input  type="hidden" name="Description" id="Description" rows="5" cols="130" value="{{Description}}">{{Description}}<span class="error">*</span></td>
    </tr>
  </table>
  </br>
      
  <h2 style="font-family:微軟正黑體;text-transform:initial;font-size:150%">文獻(reference):</h2>
  <svg height="7" width="1200"><line x1="0" y1="0" x2="1300" y2="0" style="stroke:rgb(0,150,255);stroke-width:2" /></svg>
  <input type="hidden" name="reference" id="reference" value="{% for i in reference %}{{i}},{% endfor %}"> 
  <table>
    {% for i in reference %}
      {% if i == "" %}
      {% else %}
        <tr>
            <td>文獻</br>reference:</td>
            <td>{{i}}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
  </br>
  </br>

  <h2 style="font-family:微軟正黑體;text-transform:initial;font-size:150%">來源資訊:</h2>
  <svg height="7" width="1200"><line x1="0" y1="0" x2="1300" y2="0" style="stroke:rgb(0,150,255);stroke-width:2" /></svg>
  <table>
    <tr>
      <td>資料來源</br>data source</td>
      <td><input type="hidden" name="data_source" id="data_source" value="{{data_source}}">{{data_source}}</td>
    </tr>
    <tr>
      <td>資料基因狀況</br>data status</td>
      <td><input type="hidden" name="data_status" id="data_status" value="{{data_status}}" >{{data_status}}</td>
    </tr>
  </table>
</div>
<div id="wrapper" class="container" align="center" >
<p>
<input class="button" style="font-family:微軟正黑體;text-transform:initial;font-size:300%" type="submit" value="送出">
<input class="button" style="font-family:微軟正黑體;text-transform:initial;font-size:300%" type="reset" value="清除">
</p></form></br>
</div>
{% else %}
    {% include "login_direction.html" %}
{% endif %}
{% endblock %}
</html>


