
    {% extends "base.html" %}
    {% block title %} 物種資料查詢 {% endblock %}
    {% block bottum %} <a href="homepage" class="button" style="font-family:微軟正黑體;text-transform:initial;font-size:120%">Home</a> {% endblock %}
    {% block header %} 物種資料庫查詢系統{% endblock %}
    {% block content %}

<body>
{% if user.is_authenticated %}
<!-- Table region  -->
<div id="wrapper" class="container" >
<form action="search_result" method="POST" > {% csrf_token %}
  <h2 style="font-family:微軟正黑體;text-transform:initial;font-size:200%">&ensp;查詢</h2>
  <svg height="7" width="1200"><line x1="0" y1="0" x2="1300" y2="0" style="stroke:rgb(0,150,255);stroke-width:2" /></svg>
 <table>
    <tr>
      <td>&ensp;</p>
      <td></td>
    </tr>
    <tr>
    <td>&ensp;&ensp;分類:</br>&ensp;category:&ensp;&ensp;</td>
    <td>
        <select class=select_type1 name="category">
            <option style="font-family:微軟正黑體;text-transform:initial;font-size:120%" value="organism_name">物種名</option>
            <option style="font-family:微軟正黑體;text-transform:initial;font-size:120%" value="ID">ID</option>
            <option style="font-family:微軟正黑體;text-transform:initial;font-size:120%" value="chinese_name">中文名</option>
            <option style="font-family:微軟正黑體;text-transform:initial;font-size:120%" value="genus">屬名</option>
            <option style="font-family:微軟正黑體;text-transform:initial;font-size:120%" value="gram_stain">gram stain</option>
            <option style="font-family:微軟正黑體;text-transform:initial;font-size:120%" value="type">大分類</option>
            <option style="font-family:微軟正黑體;text-transform:initial;font-size:120%" value="source">資料來源</option>
            <option style="font-family:微軟正黑體;text-transform:initial;font-size:120%" value="key_word">key_word</option>
            <option style="font-family:微軟正黑體;text-transform:initial;font-size:120%" value="Halos_id">Halos_id</option>
            <option style="font-family:微軟正黑體;text-transform:initial;font-size:120%" value="taxid">taxid</option>
            <option style="font-family:微軟正黑體;text-transform:initial;font-size:120%" value="Description">Description</option>
            <option style="font-family:微軟正黑體;text-transform:initial;font-size:120%" value="reference">reference</option>
            <option style="font-family:微軟正黑體;text-transform:initial;font-size:120%" value="date">date</option>
            <option style="font-family:微軟正黑體;text-transform:initial;font-size:120%" value="data_source">data_source</option>
            <option style="font-family:微軟正黑體;text-transform:initial;font-size:120%" value="data_status">data_status</option>
        </select>
    </td>
      <td><input class=input_type1  type="text" name="input" style="font-family:微軟正黑體;text-transform:initial;font-size:130%"></td>
      <td><input class="button" style="font-family:微軟正黑體;text-transform:initial;font-size:300%" type="submit" value="Search"><br></td>
    </tr>
  </table>
</br>
</div>
</body>
{% else %}
    {% include "login_direction.html" %}
{% endif %}
{% endblock %}
</html>


