<!-- index.html (project project) -->
    {% extends "base.html" %}
    {% block title %} 物種資料庫{% endblock %}
    {% block bottum %} <a href="homepage" class="button" style="font-family:微軟正黑體;text-transform:initial;font-size:120%">Home</a> {% endblock %}
    {% block header %} Statistics {% endblock %}
    {% block content %}
    {% load static %}
{% if user.is_authenticated %}

<div id="wrapper" class="container">
    <div id="three-column" class="container">
        <table>
        <tr bgcolor='#fdfbfc'><td> <h4>Summary :</h4>總共 : {{total_count}}筆 &ensp; bacteria : {{bacteria_count}}筆 &ensp; fungi: {{fungi_count}}筆 &ensp;virus : {{virus_count}}筆 &ensp;archaea : {{archaea_count}}筆 &ensp;parasite : {{parasite_count}}筆 &ensp;Mycoplasma/Chlamydia/Rickettsia : {{Mycoplasma_count}}筆 </td></tr>
        </table>
        <img src="{% static "images/Pie_plot.png" %}" width=600><img src="{% static "images/legend.png" %}" width=600>
 
    <svg height="2" width="1200"><line x1="0" y1="0" x2="1300" y2="0" style="stroke:rgb(0,150,255);stroke-width:20" ></svg>
        <table>
        <tr bgcolor='#fdfbfc'><td> <h1>每個收錄物種在報告中出現頻率 : </h1>(目前只印出次數大於20的物種)</td></tr>
        </table>
        <img src="{% static "images/Microorganism_report_frequency.png" %}" width=1000>
    <svg height="2" width="1200"><line x1="0" y1="0" x2="1300" y2="0" style="stroke:rgb(0,150,255);stroke-width:20" ></svg>
        <table>
        <tr bgcolor='#fdfbfc'><td> <h1>每個收錄物種keyword分布 : </h1></td></tr>
        </table>
        <img src="{% static "images/Microorganism_keyword_count.png" %}" width=1000>

<!--  
    <table>
            <tr bgcolor='#fdfbfc'>
                <td style="font-family:微軟正黑體;text-transform:initial;font-size:170%">Test region :</td>
            </tr>
            <tr bgcolor='{% cycle "#dadee8" "#fdfbfc" %}'>
                <td style="font-family:微軟正黑體;text-transform:initial;font-size:120%">
                  len_name {{len_name}} <br>  {{len_disbuted}} <br> 
                </td>
            </tr>
        </table>
--> 
    </div>
</div>
{% else %}
    {% include "login_direction.html" %}
{% endif %}
{% endblock %}

